.logo{
    width: 30%;
}

.hover-pointer{
    color: #f3f2f2;
    height: 50px;
    text-align: center;
}

.hover-pointer:hover {
    box-shadow: 1px 1px 4px #000000;
    text-shadow: 2px 2px 4px #000000;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
}

/* **************** */

.color-1-1 {
    background-color: #7e5d3f;
    
}

.color-1-2 {
    background-color: #a0774c;
}

.color-1-3 {
    background-color: #c19769;
}

/* **************** */

.color-2-1 {
    background-color: #ae7926;
    
}

.color-2-2 {
    background-color: #ce9e2f;
}

.color-2-3 {
    background-color: #f5c533;
}

/* **************** */

.color-3-1 {
    background-color: #c9cacb;
    
}

.color-3-2 {
    background-color: #e9eaeb;
}

.color-3-3 {
    background-color: #f8f9f9;
}

/* **************** */

.color-4-1 {
    background-color: #bf2130;
    
}

.color-4-2 {
    background-color: #ce1d2a;
}

.color-4-3 {
    background-color: #d61d28;
}

/* **************** */

.color-5-1 {
    background-color: #00a7e8;
    
}

.color-5-2 {
    background-color: #07afee;
}

.color-5-3 {
    background-color: #42c1f2;
}

/* **************** */

.color-6-1 {
    background-color: #03572c;
    
}

.color-6-2 {
    background-color: #2c9c42;
}

.color-6-3 {
    background-color: #95cea4;
}

/* **************** */





